<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.BuildScriptGeneratorTask"
            library="builder-ant.jar"
            name="devtools.buildscripts"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.TestScriptGeneratorTask"
            library="builder-ant.jar"
            name="devtools.testscripts"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.BundleClasspathsTask"
            library="builder-ant.jar"
            name="devtools.classpaths"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.TagMatcherTask"
            library="builder-ant.jar"
            name="devtools.tagMatcher"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.QualifierModificationTask"
            library="builder-ant.jar"
            name="devtools.qualifierModifier"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.codegen.DocFeatureGeneratorTask"
            library="builder-ant.jar"
            name="devtools.generator.docfeature"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.codegen.SrcFeatureGeneratorTask"
            library="builder-ant.jar"
            name="devtools.generator.srcfeature"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.codegen.TestFeatureGeneratorTask"
            library="builder-ant.jar"
            name="devtools.generator.testfeature"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.VerifyManifestTask"
            library="builder-ant.jar"
            name="devtools.verifier.verifyManifest">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.ReplaceFileContent"
            library="builder-ant.jar"
            name="devtools.replaceFileContent">
      </antTask>
   </extension>
   
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.ValidateJarsTask"
            library="builder-ant.jar"
            name="devtools.ValidateJars">
      </antTask>
   </extension>
</plugin>
